body{
    /* background-color: blue; */
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* navbar design start here  */

.logo{
    text-align: left;
}
.header{
    text-align: right;
}
.nav-manu {
    flex-direction: row;
    justify-content: flex-end;
}
.nav-manu a{
    padding: 5px 10px;
    margin: 20px 0;
    background-color: transparent;
    
}
/* navbar design ends here */
.top-weather-icon{
    right: 100px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.top-weather-icon:hover{
    width: 140px;
}

.profile-desc p{
    margin: 0px auto ;
    width: 50%;
    margin-bottom: 10px;
}

.bottom-weather-icon{
    left: 140px;
    width: 120px;
    transition: width 2s, transform 2s;
}
.bottom-weather-icon:hover{
    width: 140px;
}
/* profile design start here */

/* tutorial designing starts here  */



.all-subjects{
    /* height: 550px; */
    /* overflow: scroll; */
}

.subject-card{
   padding: 15px 20px;
   
}

.subject-card .subject-title{
    width: 87%;
}
/* tutorial designing starts here  */

/* about me start here  */
.aboutme-image{
    margin-top: 120px;

}
.aboutme-image img{
    width: 260px;
    height: 280px;
}

.aboutme-desc{
    text-align: left;
}


/* about me end here  */

/* achievement design start  here */
.achievement{
    padding-right: 50px;
}

.contact button{
    width: 110px;
}

.contact-link{
    position: relative;
}
.media-buttons{
    position: absolute;
    margin-top: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* achievement design ends  here */


/* footer designing starts here */
.footer-menu{
    margin-top: 12px;
}

.footer-menu a{
    display: inline;
    font-size: 1rem;
    margin: 10px;
}
/* footer designing ends here */

